In [1]:
import pandas as pd
import numpy as np
import os

# 데이터 출처

* [기상청 기상자료개방포털 단기예보](https://data.kma.go.kr/data/rmt/rmtList.do?code=420&pgmNo=572)
    * 울산 -> 울산시 남구 선암동
    * 당진 -> 충남 당진시 석문면

* 2020-12 ~ 2021-2 까지 가져옴

In [2]:
def get_csv(region, year_month):
    
    path_fcst = './fcst_data'
    raw_list = []
    region_dict = {'dangjin': '석문면', 'ulsan': '선암동'}
    info_list = ['3시간기온', '습도', '풍속', '풍향', '하늘상태']
    
    # 석문면_3시간기온_202012_202012.csv
    for info in info_list:
        file_name = f'{region_dict[region]}_{info}_{year_month}_{year_month}.csv'
        file_path = os.path.join(path_fcst, file_name)
        df = pd.read_csv(file_path)
        raw_list.append(df)
    
    return raw_list

def get_ulsan_fcst(year_month):
    
    data_ulsan_fcst = 0
    
    return data_ulsan_fcst

def get_dangjin_fcst(year_month):
    
    data_dangjin_fcst = 0
    
    return data_dangjin_fcst

In [3]:
ulsan_list = get_csv('ulsan', '202012')

In [4]:
ulsan_list[0]

       format: day  hour  forecast  value  location:102_83 Start : 20201201
0                1   200         4                                      10.0
1                1   200         7                                       6.0
2                1   200        10                                       4.0
3                1   200        13                                       3.0
4                1   200        16                                       3.0
...            ...   ...       ...                                       ...
4583            31  2300        52                                       2.0
4584            31  2300        55                                       4.0
4585            31  2300        58                                       1.0
4586            31  2300        61                                       0.0
4587            31  2300        64                                      -1.0

[4588 rows x 4 columns]