# 패널에 대한 태양광 입사각

In [2]:
import pandas as pd
import numpy as np
from urllib.parse import urlencode, quote_plus
from urllib.request import urlopen
import json
import xmltodict
import re

In [61]:
key = 'your key'
# key = input('your api key >> ')

In [76]:
# url에서 응답 불러오기

def get_sun_json(region, date, key):
    '''
    region: ulsan or dangjin
    date: 년월일, ex-'20210606'
    key: your api key
    '''

    lat_long = {'ulsan': (35.4776509, 129.380778), 'dangjin': (37.0507527, 126.5102993)}
    
    url_base = 'http://apis.data.go.kr/B090041/openapi/service/SrAltudeInfoService/getLCSrAltudeInfo'
    queryParams = urlencode({
        quote_plus('locdate'): date,                    # 날짜
        quote_plus('latitude'): lat_long[region][0],    # 위도
        quote_plus('longitude'): lat_long[region][1],   # 경도
        quote_plus('dnYn'): 'y',                        # 위도경도 숫자 형식 체크
    })

    url = f'{url_base}?serviceKey={key}&{queryParams}'
    response = urlopen(url)
    results = response.read().decode('utf-8')
    
    results_json = xmltodict.parse(results)
    data = json.loads(json.dumps(results_json))
    
    return data


def angle_change(angle_str):
    
    angle_num = re.findall('\d+', angle_str)
    
    angle = int(angle_num[0]) + (1/60) * int(angle_num[1])
    
    return angle


def get_incidentangle(region, date, key):
    '''
    해당 날짜의 0~23시의 태양광 입사각을 계산
    - 발전소의 지역마다 패널의 경사각, 방위각이 다르므로 지역마다 구분한다.
        - 울산 : 20도, 20도
        - 당진 : 30도, 30도
    
    태양광 입사각 계산은 아래 사이트를 참고
    https://www.sciencedirect.com/topics/engineering/solar-incidence-angle
    '''
    data_json = get_sun_json(region, date, key)
    data = data_json['response']['body']['items']['item']
    
    # 패널 설치 정보
    panel_region = {'ulsan': 20, 'dangjin': 30}
    lat_region = {'ulsan': 35.4776509, 'dangjin': 37.0507527}
        
    sin = np.sin
    cos = np.cos
    arccos = np.arccos
    pi = np.pi

    panel_tilt = panel_region[region] * pi / 180  # 패널 설치각(rad)
    panel_azm = panel_region[region] * pi / 180   # 패널 방위각 (남향에서 시계방향)(rad)

    lat = lat_region[region] * pi / 180           # 위도 (rad)
    alt = angle_change(data['altitudeMeridian']) * pi / 180    # 남중고도 (rad)
    dcl = alt + lat - pi / 2                      # 적위 = 남중고도 + 위도 - 90 (rad)

    h = 15 * (np.array(range(0, 24)) - 12) * pi / 180          # 시간 각도 (rad)



    cos_incident = sin(lat) * sin(dcl) * cos(panel_tilt) \
                    - cos(lat) * sin(dcl) * sin(panel_tilt) * cos(panel_azm) \
                    + cos(lat) * cos(dcl) * cos(h) * cos(panel_tilt) \
                    + sin(lat) * cos(dcl) * cos(h) * sin(panel_tilt) * cos(panel_azm) \
                    + cos(dcl) * sin(h) * sin(panel_tilt) * sin(panel_azm)

    # 패널에 대한 태양광 입사각 (패널이 바라보는 방향과의 각도 차이)
    incident = arccos(cos_incident) * 180 / pi     # (60분법)
    
    # 변환 : 수평으로 태양광이 비추면 0, 수직이면 90 (범위 0~90)
    incident_score = - (incident - 90)
    
    # 음수 각도 제거
    solar_incident = np.array([ang if ang >= 0 else 0 for ang in incident_score])
    
    # 효율 계산
    solar_rate = cos((90 - solar_incident) * np.pi / 180)
    solar_rate = np.where(solar_rate < 1.0e-5, 0, solar_rate)  # 너무 작은 값은 0으로 처리
    
    df = pd.DataFrame({'time': pd.date_range(date, periods=24, freq='H'),
                       'solar_incident': solar_incident,
                       'solar_rate': solar_rate})
    
    return df, dcl

In [121]:
test = pd.DataFrame()
test['date'] = pd.date_range('2020-06-01', '2020-07-14')
test['date_string'] = test['date'].dt.date.apply(lambda x: str(x))
test['date_string'] = test['date_string'].apply(lambda x: f'{x[:4]}{x[5:7]}{x[8:]}')

test['day_of_year'] = test['date'].dt.dayofyear
test['solar_dec_real'] = test['date_string'].apply(lambda date: get_incidentangle('ulsan', date, key)[1] * 180 / np.pi)
test['solar_dec_cal'] = test['day_of_year'].apply(lambda t2: 23.45 * np.sin(360 / 365 * (284 + t2) * np.pi / 180))

# 숫자가 안맞아서 2일 당김
test['solar_dec_cal'] = test['day_of_year'].apply(lambda t2: 23.45 * np.sin(360 / 365 * (286 + t2) * np.pi / 180))

# 출력
test

         date date_string  day_of_year  solar_dec_real  solar_dec_cal
0  2020-06-01    20200601          153       22.410984      22.423707
1  2020-06-02    20200602          154       22.544318      22.538493
2  2020-06-03    20200603          155       22.660984      22.646602
3  2020-06-04    20200604          156       22.777651      22.747999
4  2020-06-05    20200605          157       22.894318      22.842656
5  2020-06-06    20200606          158       22.994318      22.930544
6  2020-06-07    20200607          159       23.094318      23.011637
7  2020-06-08    20200608          160       23.177651      23.085911
8  2020-06-09    20200609          161       23.260984      23.153344
9  2020-06-10    20200610          162       23.344318      23.213917
10 2020-06-11    20200611          163       23.410984      23.267611
11 2020-06-12    20200612          164       23.477651      23.314410
12 2020-06-13    20200613          165       23.527651      23.354300
13 2020-06-14    20200614          166       23.577651      23.387271
14 2020-06-15    20200615          167       23.627651      23.413311
15 2020-06-16    20200616          168       23.660984      23.432413
16 2020-06-17    20200617          169       23.694318      23.444571
17 2020-06-18    20200618          170       23.710984      23.449783
18 2020-06-19    20200619          171       23.727651      23.448046
19 2020-06-20    20200620          172       23.744318      23.439360
20 2020-06-21    20200621          173       23.744318      23.423729
21 2020-06-22    20200622          174       23.744318      23.401157
22 2020-06-23    20200623          175       23.727651      23.371651
23 2020-06-24    20200624          176       23.710984      23.335220
24 2020-06-25    20200625          177       23.677651      23.291873
25 2020-06-26    20200626          178       23.644318      23.241625
26 2020-06-27    20200627          179       23.610984      23.184489
27 2020-06-28    20200628          180       23.560984      23.120484
28 2020-06-29    20200629          181       23.510984      23.049628
29 2020-06-30    20200630          182       23.444318      22.971941
30 2020-07-01    20200701          183       23.377651      22.887447
31 2020-07-02    20200702          184       23.310984      22.796172
32 2020-07-03    20200703          185       23.227651      22.698141
33 2020-07-04    20200704          186       23.144318      22.593384
34 2020-07-05    20200705          187       23.044318      22.481933
35 2020-07-06    20200706          188       22.944318      22.363819
36 2020-07-07    20200707          189       22.844318      22.239079
37 2020-07-08    20200708          190       22.727651      22.107749
38 2020-07-09    20200709          191       22.610984      21.969868
39 2020-07-10    20200710          192       22.477651      21.825476
40 2020-07-11    20200711          193       22.360984      21.674617
41 2020-07-12    20200712          194       22.210984      21.517336
42 2020-07-13    20200713          195       22.077651      21.353679
43 2020-07-14    20200714          196       21.927651      21.183694

In [125]:
test = pd.DataFrame()
test['date'] = pd.date_range('2018-09-01', '2018-09-14')
test['date_string'] = test['date'].dt.date.apply(lambda x: str(x))
test['date_string'] = test['date_string'].apply(lambda x: f'{x[:4]}{x[5:7]}{x[8:]}')

test['day_of_year'] = test['date'].dt.dayofyear
test['solar_dec_real'] = test['date_string'].apply(lambda date: get_incidentangle('ulsan', date, key)[1] * 180 / np.pi)
test['solar_dec_cal'] = test['day_of_year'].apply(lambda t2: 23.45 * np.sin(360 / 365 * (284 + t2) * np.pi / 180))

# 숫자가 안맞아서 2일 당김
# test['solar_dec_cal'] = test['day_of_year'].apply(lambda t2: 23.45 * np.sin(360 / 365 * (286 + t2) * np.pi / 180))

# 출력
test

         date date_string  day_of_year  solar_dec_real  solar_dec_cal
0  2018-09-01    20180901          244        8.627651       7.724629
1  2018-09-02    20180902          245        8.260984       7.342360
2  2018-09-03    20180903          246        7.894318       6.957916
3  2018-09-04    20180904          247        7.527651       6.571409
4  2018-09-05    20180905          248        7.160984       6.182956
5  2018-09-06    20180906          249        6.777651       5.792670
6  2018-09-07    20180907          250        6.410984       5.400668
7  2018-09-08    20180908          251        6.027651       5.007065
8  2018-09-09    20180909          252        5.660984       4.611979
9  2018-09-10    20180910          253        5.277651       4.215526
10 2018-09-11    20180911          254        4.894318       3.817824
11 2018-09-12    20180912          255        4.527651       3.418991
12 2018-09-13    20180913          256        4.144318       3.019145
13 2018-09-14    20180914          257        3.760984       2.618404

In [72]:
date_list = []
for a in pd.date_range('2018-03-01', '2021-02-28'):
    date_list.append(f'{a.year}{a.month:0>2}{a.day:0>2}')

date_list

['20180301',
 '20180302',
 '20180303',
 '20180304',
 '20180305',
 '20180306',
 '20180307',
 '20180308',
 '20180309',
 '20180310',
 '20180311',
 '20180312',
 '20180313',
 '20180314',
 '20180315',
 '20180316',
 '20180317',
 '20180318',
 '20180319',
 '20180320',
 '20180321',
 '20180322',
 '20180323',
 '20180324',
 '20180325',
 '20180326',
 '20180327',
 '20180328',
 '20180329',
 '20180330',
 '20180331',
 '20180401',
 '20180402',
 '20180403',
 '20180404',
 '20180405',
 '20180406',
 '20180407',
 '20180408',
 '20180409',
 '20180410',
 '20180411',
 '20180412',
 '20180413',
 '20180414',
 '20180415',
 '20180416',
 '20180417',
 '20180418',
 '20180419',
 '20180420',
 '20180421',
 '20180422',
 '20180423',
 '20180424',
 '20180425',
 '20180426',
 '20180427',
 '20180428',
 '20180429',
 '20180430',
 '20180501',
 '20180502',
 '20180503',
 '20180504',
 '20180505',
 '20180506',
 '20180507',
 '20180508',
 '20180509',
 '20180510',
 '20180511',
 '20180512',
 '20180513',
 '20180514',
 '20180515',
 '20180516',
 '20180517',
 '20180518',
 '20180519',
 '20180520',
 '20180521',
 '20180522',
 '20180523',
 '20180524',
 '20180525',
 '20180526',
 '20180527',
 '20180528',
 '20180529',
 '20180530',
 '20180531',
 '20180601',
 '20180602',
 '20180603',
 '20180604',
 '20180605',
 '20180606',
 '20180607',
 '20180608',
 '20180609',
 '20180610',
 '20180611',
 '20180612',
 '20180613',
 '20180614',
 '20180615',
 '20180616',
 '20180617',
 '20180618',
 '20180619',
 '20180620',
 '20180621',
 '20180622',
 '20180623',
 '20180624',
 '20180625',
 '20180626',
 '20180627',
 '20180628',
 '20180629',
 '20180630',
 '20180701',
 '20180702',
 '20180703',
 '20180704',
 '20180705',
 '20180706',
 '20180707',
 '20180708',
 '20180709',
 '20180710',
 '20180711',
 '20180712',
 '20180713',
 '20180714',
 '20180715',
 '20180716',
 '20180717',
 '20180718',
 '20180719',
 '20180720',
 '20180721',
 '20180722',
 '20180723',
 '20180724',
 '20180725',
 '20180726',
 '20180727',
 '20180728',
 '20180729',
 '20180730',
 '20180731',
 '20180801',
 '20180802',
 '20180803',
 '20180804',
 '20180805',
 '20180806',
 '20180807',
 '20180808',
 '20180809',
 '20180810',
 '20180811',
 '20180812',
 '20180813',
 '20180814',
 '20180815',
 '20180816',
 '20180817',
 '20180818',
 '20180819',
 '20180820',
 '20180821',
 '20180822',
 '20180823',
 '20180824',
 '20180825',
 '20180826',
 '20180827',
 '20180828',
 '20180829',
 '20180830',
 '20180831',
 '20180901',
 '20180902',
 '20180903',
 '20180904',
 '20180905',
 '20180906',
 '20180907',
 '20180908',
 '20180909',
 '20180910',
 '20180911',
 '20180912',
 '20180913',
 '20180914',
 '20180915',
 '20180916',
 '20180917',
 '20180918',
 '20180919',
 '20180920',
 '20180921',
 '20180922',
 '20180923',
 '20180924',
 '20180925',
 '20180926',
 '20180927',
 '20180928',
 '20180929',
 '20180930',
 '20181001',
 '20181002',
 '20181003',
 '20181004',
 '20181005',
 '20181006',
 '20181007',
 '20181008',
 '20181009',
 '20181010',
 '20181011',
 '20181012',
 '20181013',
 '20181014',
 '20181015',
 '20181016',
 '20181017',
 '20181018',
 '20181019',
 '20181020',
 '20181021',
 '20181022',
 '20181023',
 '20181024',
 '20181025',
 '20181026',
 '20181027',
 '20181028',
 '20181029',
 '20181030',
 '20181031',
 '20181101',
 '20181102',
 '20181103',
 '20181104',
 '20181105',
 '20181106',
 '20181107',
 '20181108',
 '20181109',
 '20181110',
 '20181111',
 '20181112',
 '20181113',
 '20181114',
 '20181115',
 '20181116',
 '20181117',
 '20181118',
 '20181119',
 '20181120',
 '20181121',
 '20181122',
 '20181123',
 '20181124',
 '20181125',
 '20181126',
 '20181127',
 '20181128',
 '20181129',
 '20181130',
 '20181201',
 '20181202',
 '20181203',
 '20181204',
 '20181205',
 '20181206',
 '20181207',
 '20181208',
 '20181209',
 '20181210',
 '20181211',
 '20181212',
 '20181213',
 '20181214',
 '20181215',
 '20181216',
 '20181217',
 '20181218',
 '20181219',
 '20181220',
 '20181221',
 '20181222',
 '20181223',
 '20181224',
 '20181225',
 '20181226',
 '20181227',
 '20181228',
 '20181229',
 '20181230',
 '20181231',
 '20190101',
 '20190102',
 '20190103',
 '20190104',
 '20190105',
 '20190106',
 '20190107',
 '20190108',
 '20190109',
 '20190110',
 '20190111',
 '20190112',
 '20190113',
 '20190114',
 '20190115',
 '20190116',
 '20190117',
 '20190118',
 '20190119',
 '20190120',
 '20190121',
 '20190122',
 '20190123',
 '20190124',
 '20190125',
 '20190126',
 '20190127',
 '20190128',
 '20190129',
 '20190130',
 '20190131',
 '20190201',
 '20190202',
 '20190203',
 '20190204',
 '20190205',
 '20190206',
 '20190207',
 '20190208',
 '20190209',
 '20190210',
 '20190211',
 '20190212',
 '20190213',
 '20190214',
 '20190215',
 '20190216',
 '20190217',
 '20190218',
 '20190219',
 '20190220',
 '20190221',
 '20190222',
 '20190223',
 '20190224',
 '20190225',
 '20190226',
 '20190227',
 '20190228',
 '20190301',
 '20190302',
 '20190303',
 '20190304',
 '20190305',
 '20190306',
 '20190307',
 '20190308',
 '20190309',
 '20190310',
 '20190311',
 '20190312',
 '20190313',
 '20190314',
 '20190315',
 '20190316',
 '20190317',
 '20190318',
 '20190319',
 '20190320',
 '20190321',
 '20190322',
 '20190323',
 '20190324',
 '20190325',
 '20190326',
 '20190327',
 '20190328',
 '20190329',
 '20190330',
 '20190331',
 '20190401',
 '20190402',
 '20190403',
 '20190404',
 '20190405',
 '20190406',
 '20190407',
 '20190408',
 '20190409',
 '20190410',
 '20190411',
 '20190412',
 '20190413',
 '20190414',
 '20190415',
 '20190416',
 '20190417',
 '20190418',
 '20190419',
 '20190420',
 '20190421',
 '20190422',
 '20190423',
 '20190424',
 '20190425',
 '20190426',
 '20190427',
 '20190428',
 '20190429',
 '20190430',
 '20190501',
 '20190502',
 '20190503',
 '20190504',
 '20190505',
 '20190506',
 '20190507',
 '20190508',
 '20190509',
 '20190510',
 '20190511',
 '20190512',
 '20190513',
 '20190514',
 '20190515',
 '20190516',
 '20190517',
 '20190518',
 '20190519',
 '20190520',
 '20190521',
 '20190522',
 '20190523',
 '20190524',
 '20190525',
 '20190526',
 '20190527',
 '20190528',
 '20190529',
 '20190530',
 '20190531',
 '20190601',
 '20190602',
 '20190603',
 '20190604',
 '20190605',
 '20190606',
 '20190607',
 '20190608',
 '20190609',
 '20190610',
 '20190611',
 '20190612',
 '20190613',
 '20190614',
 '20190615',
 '20190616',
 '20190617',
 '20190618',
 '20190619',
 '20190620',
 '20190621',
 '20190622',
 '20190623',
 '20190624',
 '20190625',
 '20190626',
 '20190627',
 '20190628',
 '20190629',
 '20190630',
 '20190701',
 '20190702',
 '20190703',
 '20190704',
 '20190705',
 '20190706',
 '20190707',
 '20190708',
 '20190709',
 '20190710',
 '20190711',
 '20190712',
 '20190713',
 '20190714',
 '20190715',
 '20190716',
 '20190717',
 '20190718',
 '20190719',
 '20190720',
 '20190721',
 '20190722',
 '20190723',
 '20190724',
 '20190725',
 '20190726',
 '20190727',
 '20190728',
 '20190729',
 '20190730',
 '20190731',
 '20190801',
 '20190802',
 '20190803',
 '20190804',
 '20190805',
 '20190806',
 '20190807',
 '20190808',
 '20190809',
 '20190810',
 '20190811',
 '20190812',
 '20190813',
 '20190814',
 '20190815',
 '20190816',
 '20190817',
 '20190818',
 '20190819',
 '20190820',
 '20190821',
 '20190822',
 '20190823',
 '20190824',
 '20190825',
 '20190826',
 '20190827',
 '20190828',
 '20190829',
 '20190830',
 '20190831',
 '20190901',
 '20190902',
 '20190903',
 '20190904',
 '20190905',
 '20190906',
 '20190907',
 '20190908',
 '20190909',
 '20190910',
 '20190911',
 '20190912',
 '20190913',
 '20190914',
 '20190915',
 '20190916',
 '20190917',
 '20190918',
 '20190919',
 '20190920',
 '20190921',
 '20190922',
 '20190923',
 '20190924',
 '20190925',
 '20190926',
 '20190927',
 '20190928',
 '20190929',
 '20190930',
 '20191001',
 '20191002',
 '20191003',
 '20191004',
 '20191005',
 '20191006',
 '20191007',
 '20191008',
 '20191009',
 '20191010',
 '20191011',
 '20191012',
 '20191013',
 '20191014',
 '20191015',
 '20191016',
 '20191017',
 '20191018',
 '20191019',
 '20191020',
 '20191021',
 '20191022',
 '20191023',
 '20191024',
 '20191025',
 '20191026',
 '20191027',
 '20191028',
 '20191029',
 '20191030',
 '20191031',
 '20191101',
 '20191102',
 '20191103',
 '20191104',
 '20191105',
 '20191106',
 '20191107',
 '20191108',
 '20191109',
 '20191110',
 '20191111',
 '20191112',
 '20191113',
 '20191114',
 '20191115',
 '20191116',
 '20191117',
 '20191118',
 '20191119',
 '20191120',
 '20191121',
 '20191122',
 '20191123',
 '20191124',
 '20191125',
 '20191126',
 '20191127',
 '20191128',
 '20191129',
 '20191130',
 '20191201',
 '20191202',
 '20191203',
 '20191204',
 '20191205',
 '20191206',
 '20191207',
 '20191208',
 '20191209',
 '20191210',
 '20191211',
 '20191212',
 '20191213',
 '20191214',
 '20191215',
 '20191216',
 '20191217',
 '20191218',
 '20191219',
 '20191220',
 '20191221',
 '20191222',
 '20191223',
 '20191224',
 '20191225',
 '20191226',
 '20191227',
 '20191228',
 '20191229',
 '20191230',
 '20191231',
 '20200101',
 '20200102',
 '20200103',
 '20200104',
 '20200105',
 '20200106',
 '20200107',
 '20200108',
 '20200109',
 '20200110',
 '20200111',
 '20200112',
 '20200113',
 '20200114',
 '20200115',
 '20200116',
 '20200117',
 '20200118',
 '20200119',
 '20200120',
 '20200121',
 '20200122',
 '20200123',
 '20200124',
 '20200125',
 '20200126',
 '20200127',
 '20200128',
 '20200129',
 '20200130',
 '20200131',
 '20200201',
 '20200202',
 '20200203',
 '20200204',
 '20200205',
 '20200206',
 '20200207',
 '20200208',
 '20200209',
 '20200210',
 '20200211',
 '20200212',
 '20200213',
 '20200214',
 '20200215',
 '20200216',
 '20200217',
 '20200218',
 '20200219',
 '20200220',
 '20200221',
 '20200222',
 '20200223',
 '20200224',
 '20200225',
 '20200226',
 '20200227',
 '20200228',
 '20200229',
 '20200301',
 '20200302',
 '20200303',
 '20200304',
 '20200305',
 '20200306',
 '20200307',
 '20200308',
 '20200309',
 '20200310',
 '20200311',
 '20200312',
 '20200313',
 '20200314',
 '20200315',
 '20200316',
 '20200317',
 '20200318',
 '20200319',
 '20200320',
 '20200321',
 '20200322',
 '20200323',
 '20200324',
 '20200325',
 '20200326',
 '20200327',
 '20200328',
 '20200329',
 '20200330',
 '20200331',
 '20200401',
 '20200402',
 '20200403',
 '20200404',
 '20200405',
 '20200406',
 '20200407',
 '20200408',
 '20200409',
 '20200410',
 '20200411',
 '20200412',
 '20200413',
 '20200414',
 '20200415',
 '20200416',
 '20200417',
 '20200418',
 '20200419',
 '20200420',
 '20200421',
 '20200422',
 '20200423',
 '20200424',
 '20200425',
 '20200426',
 '20200427',
 '20200428',
 '20200429',
 '20200430',
 '20200501',
 '20200502',
 '20200503',
 '20200504',
 '20200505',
 '20200506',
 '20200507',
 '20200508',
 '20200509',
 '20200510',
 '20200511',
 '20200512',
 '20200513',
 '20200514',
 '20200515',
 '20200516',
 '20200517',
 '20200518',
 '20200519',
 '20200520',
 '20200521',
 '20200522',
 '20200523',
 '20200524',
 '20200525',
 '20200526',
 '20200527',
 '20200528',
 '20200529',
 '20200530',
 '20200531',
 '20200601',
 '20200602',
 '20200603',
 '20200604',
 '20200605',
 '20200606',
 '20200607',
 '20200608',
 '20200609',
 '20200610',
 '20200611',
 '20200612',
 '20200613',
 '20200614',
 '20200615',
 '20200616',
 '20200617',
 '20200618',
 '20200619',
 '20200620',
 '20200621',
 '20200622',
 '20200623',
 '20200624',
 '20200625',
 '20200626',
 '20200627',
 '20200628',
 '20200629',
 '20200630',
 '20200701',
 '20200702',
 '20200703',
 '20200704',
 '20200705',
 '20200706',
 '20200707',
 '20200708',
 '20200709',
 '20200710',
 '20200711',
 '20200712',
 '20200713',
 '20200714',
 '20200715',
 '20200716',
 '20200717',
 '20200718',
 '20200719',
 '20200720',
 '20200721',
 '20200722',
 '20200723',
 '20200724',
 '20200725',
 '20200726',
 '20200727',
 '20200728',
 '20200729',
 '20200730',
 '20200731',
 '20200801',
 '20200802',
 '20200803',
 '20200804',
 '20200805',
 '20200806',
 '20200807',
 '20200808',
 '20200809',
 '20200810',
 '20200811',
 '20200812',
 '20200813',
 '20200814',
 '20200815',
 '20200816',
 '20200817',
 '20200818',
 '20200819',
 '20200820',
 '20200821',
 '20200822',
 '20200823',
 '20200824',
 '20200825',
 '20200826',
 '20200827',
 '20200828',
 '20200829',
 '20200830',
 '20200831',
 '20200901',
 '20200902',
 '20200903',
 '20200904',
 '20200905',
 '20200906',
 '20200907',
 '20200908',
 '20200909',
 '20200910',
 '20200911',
 '20200912',
 '20200913',
 '20200914',
 '20200915',
 '20200916',
 '20200917',
 '20200918',
 '20200919',
 '20200920',
 '20200921',
 '20200922',
 '20200923',
 '20200924',
 '20200925',
 '20200926',
 '20200927',
 '20200928',
 '20200929',
 '20200930',
 '20201001',
 '20201002',
 '20201003',
 '20201004',
 '20201005',
 '20201006',
 '20201007',
 '20201008',
 '20201009',
 '20201010',
 '20201011',
 '20201012',
 '20201013',
 '20201014',
 '20201015',
 '20201016',
 '20201017',
 '20201018',
 '20201019',
 '20201020',
 '20201021',
 '20201022',
 '20201023',
 '20201024',
 '20201025',
 '20201026',
 '20201027',
 '20201028',
 '20201029',
 '20201030',
 '20201031',
 '20201101',
 '20201102',
 '20201103',
 '20201104',
 '20201105',
 '20201106',
 '20201107',
 '20201108',
 '20201109',
 '20201110',
 '20201111',
 '20201112',
 '20201113',
 '20201114',
 '20201115',
 '20201116',
 '20201117',
 '20201118',
 '20201119',
 '20201120',
 '20201121',
 '20201122',
 '20201123',
 '20201124',
 ...]

In [73]:
df_ulsan = pd.DataFrame()

for date in date_list:
    df1 = get_incidentangle('ulsan', date, key)
    df_ulsan = pd.concat([df_ulsan, df1])

df_ulsan

                  time  solar_incident  solar_rate
0  2018-03-01 00:00:00             0.0         0.0
1  2018-03-01 01:00:00             0.0         0.0
2  2018-03-01 02:00:00             0.0         0.0
3  2018-03-01 03:00:00             0.0         0.0
4  2018-03-01 04:00:00             0.0         0.0
..                 ...             ...         ...
19 2021-02-28 19:00:00             0.0         0.0
20 2021-02-28 20:00:00             0.0         0.0
21 2021-02-28 21:00:00             0.0         0.0
22 2021-02-28 22:00:00             0.0         0.0
23 2021-02-28 23:00:00             0.0         0.0

[26304 rows x 3 columns]

In [74]:
df_dangjin = pd.DataFrame()

for date in date_list:
    df2 = get_incidentangle('dangjin', date, key)
    df_dangjin = pd.concat([df_dangjin, df2])
    
df_dangjin

                  time  solar_incident  solar_rate
0  2018-03-01 00:00:00             0.0         0.0
1  2018-03-01 01:00:00             0.0         0.0
2  2018-03-01 02:00:00             0.0         0.0
3  2018-03-01 03:00:00             0.0         0.0
4  2018-03-01 04:00:00             0.0         0.0
..                 ...             ...         ...
19 2021-02-28 19:00:00             0.0         0.0
20 2021-02-28 20:00:00             0.0         0.0
21 2021-02-28 21:00:00             0.0         0.0
22 2021-02-28 22:00:00             0.0         0.0
23 2021-02-28 23:00:00             0.0         0.0

[26304 rows x 3 columns]

In [75]:
df_ulsan.head(24)

                  time  solar_incident  solar_rate
0  2018-03-01 00:00:00        0.000000    0.000000
1  2018-03-01 01:00:00        0.000000    0.000000
2  2018-03-01 02:00:00        0.000000    0.000000
3  2018-03-01 03:00:00        0.000000    0.000000
4  2018-03-01 04:00:00        0.000000    0.000000
5  2018-03-01 05:00:00        0.000000    0.000000
6  2018-03-01 06:00:00        0.000000    0.000000
7  2018-03-01 07:00:00        5.509777    0.096016
8  2018-03-01 08:00:00       19.589120    0.335273
9  2018-03-01 09:00:00       33.312979    0.549212
10 2018-03-01 10:00:00       46.323825    0.723254
11 2018-03-01 11:00:00       57.729698    0.845539
12 2018-03-01 12:00:00       65.193734    0.907732
13 2018-03-01 13:00:00       64.903509    0.905595
14 2018-03-01 14:00:00       57.063517    0.839274
15 2018-03-01 15:00:00       45.503105    0.713288
16 2018-03-01 16:00:00       32.426977    0.536224
17 2018-03-01 17:00:00       18.671875    0.320148
18 2018-03-01 18:00:00        4.576197    0.079785
19 2018-03-01 19:00:00        0.000000    0.000000
20 2018-03-01 20:00:00        0.000000    0.000000
21 2018-03-01 21:00:00        0.000000    0.000000
22 2018-03-01 22:00:00        0.000000    0.000000
23 2018-03-01 23:00:00        0.000000    0.000000

# feature에 solar_incident를 넣기 위한 코드 작성

In [5]:
start = pd.to_datetime('2021-02-01 00:00:00')
end = pd.to_datetime('2021-02-28 23:00:00')

# start and end time of data
time_start = start
time_end = end

# how many time tags
time_len = int((time_end - time_start) / pd.Timedelta(hours=1)) + 1

# Make base dataframe
delta = pd.to_timedelta(np.arange(time_len), unit='h')
time_base = time_start + delta

# set base
data_base = pd.DataFrame()
data_base['date'] = time_base
# data_base['time_idx'] = data_base.index
# data_base['time_idx'] = ((time_base - time_base.min()) / pd.Timedelta(hours=1)).astype('int')

# data_base['month'] = data_base['date'].dt.month_name() # string
# data_base['week_of_year'] = data_base['date'].dt.week
# data_base['day_of_month'] = data_base['date'].dt.day.apply(str)
data_base['hour_of_day'] = data_base['date'].dt.hour.apply(str)

# print log
print(f'Data starts from [ {time_start} ] to [ {time_end} ].')
print(f'Total length : {time_len}')

data_base

Data starts from [ 2021-02-01 00:00:00 ] to [ 2021-02-28 23:00:00 ].
Total length : 672

                   date hour_of_day
0   2021-02-01 00:00:00           0
1   2021-02-01 01:00:00           1
2   2021-02-01 02:00:00           2
3   2021-02-01 03:00:00           3
4   2021-02-01 04:00:00           4
..                  ...         ...
667 2021-02-28 19:00:00          19
668 2021-02-28 20:00:00          20
669 2021-02-28 21:00:00          21
670 2021-02-28 22:00:00          22
671 2021-02-28 23:00:00          23

[672 rows x 2 columns]

In [21]:
data = data_base.copy()
data['dcl'] = data['date'].dt.dayofyear
data['dcl'] = data['dcl'].apply(lambda d: 23.45 * np.sin(360 / 365 * (284 + d) * np.pi / 180))
data['dcl'] = data['dcl'].apply(lambda a: a * np.pi / 180)
data['hour_angle'] = data_base['date'].dt.hour
data['hour_angle'] = data['hour_angle'].apply(lambda h: 15 * (h - 12) * np.pi / 180)
data

                   date hour_of_day       dcl  hour_angle
0   2021-02-01 00:00:00           0 -0.305721   -3.141593
1   2021-02-01 01:00:00           1 -0.305721   -2.879793
2   2021-02-01 02:00:00           2 -0.305721   -2.617994
3   2021-02-01 03:00:00           3 -0.305721   -2.356194
4   2021-02-01 04:00:00           4 -0.305721   -2.094395
..                  ...         ...       ...         ...
667 2021-02-28 19:00:00          19 -0.151321    1.832596
668 2021-02-28 20:00:00          20 -0.151321    2.094395
669 2021-02-28 21:00:00          21 -0.151321    2.356194
670 2021-02-28 22:00:00          22 -0.151321    2.617994
671 2021-02-28 23:00:00          23 -0.151321    2.879793

[672 rows x 4 columns]

In [22]:
region = 'ulsan'

# 패널 설치 정보
panel_region = {'ulsan': 20, 'dangjin': 30}
lat_region = {'ulsan': 35.4776509, 'dangjin': 37.0507527}

sin = np.sin
cos = np.cos
arccos = np.arccos
pi = np.pi

panel_tilt = panel_region[region] * pi / 180  # 패널 설치각(rad)
panel_azm = panel_region[region] * pi / 180   # 패널 방위각 (남향에서 시계방향)(rad)

lat = lat_region[region] * pi / 180           # 위도 (rad)

data['cos_incident'] = cos(data['hour_angle']) * sin(lat) * cos(data['dcl'])

data['cos_incident'] = sin(lat) * sin(data['dcl']) * cos(panel_tilt) \
                - cos(lat) * sin(data['dcl']) * sin(panel_tilt) * cos(panel_azm) \
                + cos(lat) * cos(data['dcl']) * cos(data['hour_angle']) * cos(panel_tilt) \
                + sin(lat) * cos(data['dcl']) * cos(data['hour_angle']) * sin(panel_tilt) * cos(panel_azm) \
                + cos(data['dcl']) * sin(data['hour_angle']) * sin(panel_tilt) * sin(panel_azm)
data['solar_incident'] = arccos(data['cos_incident']) * 180 / pi
data['solar_incident'] = - (data['solar_incident'] - 90)
data['solar_incident'] = data['solar_incident'].apply(lambda x: x if x>=0 else 0)

data.head(24)

,date,hour_of_day,dcl,hour_angle,cos_incident,solar_incident
0,2021-02-01 00:00:00,0,-0.305721,-3.141593,-0.993006,0.000000
1,2021-02-01 01:00:00,1,-0.305721,-2.879793,-0.990952,0.000000
2,2021-02-01 02:00:00,2,-0.305721,-2.617994,-0.927184,0.000000
3,2021-02-01 03:00:00,3,-0.305721,-2.356194,-0.806048,0.000000
4,2021-02-01 04:00:00,4,-0.305721,-2.094395,-0.635799,0.000000
5,2021-02-01 05:00:00,5,-0.305721,-1.832596,-0.428040,0.000000
6,2021-02-01 06:00:00,6,-0.305721,-1.570796,-0.196929,0.000000
7,2021-02-01 07:00:00,7,-0.305721,-1.308997,0.041784,2.394726
8,2021-02-01 08:00:00,8,-0.305721,-1.047198,0.271831,15.773258
9,2021-02-01 09:00:00,9,-0.305721,-0.785398,0.477535,28.524563
10,2021-02-01 10:00:00,10,-0.305721,-0.523599,0.644878,40.156555
11,2021-02-01 11:00:00,11,-0.305721,-0.261799,0.762456,49.681160
12,2021-02-01 12:00:00,12,-0.305721,0.000000,0.822255,55.311124
13,2021-02-01 13:00:00,13,-0.305721,0.261799,0.820200,55.104817
14,2021-02-01 14:00:00,14,-0.305721,0.523599,0.756432,49.150644
15,2021-02-01 15:00:00,15,-0.305721,0.785398,0.635296,39.441943
16,2021-02-01 16:00:00,16,-0.305721,1.047198,0.465048,27.713299
17,2021-02-01 17:00:00,17,-0.305721,1.308997,0.257289,14.909238
18,2021-02-01 18:00:00,18,-0.305721,1.570796,0.026178,1.500041
19,2021-02-01 19:00:00,19,-0.305721,1.832596,-0.212535,0.000000
20,2021-02-01 20:00:00,20,-0.305721,2.094395,-0.442583,0.000000
21,2021-02-01 21:00:00,21,-0.305721,2.356194,-0.648287,0.000000
22,2021-02-01 22:00:00,22,-0.305721,2.617994,-0.815630,0.000000
23,2021-02-01 23:00:00,23,-0.305721,2.879793,-0.933207,0.000000

In [ ]:
region = 'ulsan'

# 패널 설치 정보
panel_region = {'ulsan': 20, 'dangjin': 30}
lat_region = {'ulsan': 35.4776509, 'dangjin': 37.0507527}

sin = np.sin
cos = np.cos
arccos = np.arccos
pi = np.pi

panel_tilt = panel_region[region] * pi / 180  # 패널 설치각(rad)
panel_azm = panel_region[region] * pi / 180   # 패널 방위각 (남향에서 시계방향)(rad)

lat = lat_region[region] * pi / 180           # 위도 (rad)
alt = angle_change(data['altitudeMeridian']) * pi / 180    # 남중고도 (rad)
dcl = alt + lat - pi / 2                      # 적위 = 남중고도 + 위도 - 90 (rad)

h = 15 * (np.array(range(0, 24)) - 12) * pi / 180          # 시간 각도 (rad)



cos_incident = sin(lat) * sin(dcl) * cos(panel_tilt) \
                - cos(lat) * sin(dcl) * sin(panel_tilt) * cos(panel_azm) \
                + cos(lat) * cos(dcl) * cos(h) * cos(panel_tilt) \
                + sin(lat) * cos(dcl) * cos(h) * sin(panel_tilt) * cos(panel_azm) \
                + cos(dcl) * sin(h) * sin(panel_tilt) * sin(panel_azm)

# 패널에 대한 태양광 입사각 (패널이 바라보는 방향과의 각도 차이)
incident = arccos(cos_incident) * 180 / pi     # (60분법)

# 변환 : 수평으로 태양광이 비추면 0, 수직이면 90 (범위 0~90)
incident_score = - (incident - 90)

# 음수 각도 제거
solar_incident = np.array([ang if ang >= 0 else 0 for ang in incident_score])

# 효율 계산
solar_rate = cos((90 - solar_incident) * np.pi / 180)
solar_rate = np.where(solar_rate < 1.0e-5, 0, solar_rate)  # 너무 작은 값은 0으로 처리

df = pd.DataFrame({'time': pd.date_range(date, periods=24, freq='H'),
                   'solar_incident': solar_incident,
                   'solar_rate': solar_rate})

return df, dcl