In [3]:
import pandas as pd

df = pd.read_csv('./dataset/energy.csv')

In [4]:
df

,time,dangjin_floating,dangjin_warehouse,dangjin,ulsan
0,2018-03-01 1:00:00,0.0,0.0,0,0
1,2018-03-01 2:00:00,0.0,0.0,0,0
2,2018-03-01 3:00:00,0.0,0.0,0,0
3,2018-03-01 4:00:00,0.0,0.0,0,0
4,2018-03-01 5:00:00,0.0,0.0,0,0
...,...,...,...,...,...
25627,2021-01-31 20:00:00,0.0,0.0,0,0
25628,2021-01-31 21:00:00,0.0,0.0,0,0
25629,2021-01-31 22:00:00,0.0,0.0,0,0
25630,2021-01-31 23:00:00,0.0,0.0,0,0
25631,2021-01-31 24:00:00,0.0,0.0,0,0

In [5]:
df.iloc[-24:, :]

,time,dangjin_floating,dangjin_warehouse,dangjin,ulsan
25608,2021-01-31 1:00:00,0.0,0.0,0,0
25609,2021-01-31 2:00:00,0.0,0.0,0,0
25610,2021-01-31 3:00:00,0.0,0.0,0,0
25611,2021-01-31 4:00:00,0.0,0.0,0,0
25612,2021-01-31 5:00:00,0.0,0.0,0,0
25613,2021-01-31 6:00:00,0.0,0.0,0,0
25614,2021-01-31 7:00:00,0.0,0.0,0,0
25615,2021-01-31 8:00:00,0.0,0.0,0,1
25616,2021-01-31 9:00:00,61.0,31.0,52,52
25617,2021-01-31 10:00:00,190.0,117.0,200,156
25618,2021-01-31 11:00:00,369.0,269.0,421,238
25619,2021-01-31 12:00:00,495.0,386.0,587,284
25620,2021-01-31 13:00:00,487.0,392.0,608,303
25621,2021-01-31 14:00:00,397.0,261.0,468,294
25622,2021-01-31 15:00:00,297.0,256.0,352,259
25623,2021-01-31 16:00:00,230.0,166.0,261,196
25624,2021-01-31 17:00:00,76.0,65.0,81,83
25625,2021-01-31 18:00:00,10.0,6.0,0,8
25626,2021-01-31 19:00:00,0.0,0.0,0,0
25627,2021-01-31 20:00:00,0.0,0.0,0,0
25628,2021-01-31 21:00:00,0.0,0.0,0,0
25629,2021-01-31 22:00:00,0.0,0.0,0,0
25630,2021-01-31 23:00:00,0.0,0.0,0,0
25631,2021-01-31 24:00:00,0.0,0.0,0,0

In [6]:
import numpy as np

actual = np.array([[  0.,   0.,   0.,   0.,   0.,   0.,   0.,   1.,  52., 156., 238., 284.,
         303., 294., 259., 196.,  83.,   8.,   0.,   0.,   0.,   0.,   0.,   0.]])

In [7]:
predict = np.array([[3.7758e-23, 7.8600e-28, 2.8866e-27, 8.8400e-25, 1.6708e-20, 1.1176e-14,
         7.5424e-10, 9.2750e-03, 4.7409e+01, 1.5225e+02, 2.3355e+02, 2.8184e+02,
         3.0533e+02, 2.9280e+02, 2.5478e+02, 1.7586e+02, 6.3223e+01, 2.4496e+00,
         6.0867e-08, 2.4883e-14, 8.8299e-18, 1.5893e-19, 4.2908e-22, 1.2071e-25]])

In [8]:
predict.shape

(1, 24)

In [9]:
import pandas as pd
import numpy as np
def sola_nmae(answer_df, submission_df):

    submission = submission_df[submission_df['time'].isin(answer_df['time'])]

    submission.index = range(submission.shape[0])

    

    # 시간대별 총 발전량
    sum_submission = submission.iloc[:,1:].sum(axis=1)
    sum_answer = answer_df.iloc[:,1:].sum(axis=1)

    # 발전소 발전용량

    capacity = {
#         'dangjin_floating':1000, # 당진수상태양광 발전용량
#         'dangjin_warehouse':700, # 당진자재창고태양광 발전용량
#         'dangjin':1000, # 당진태양광 발전용량
#         'ulsan':500 # 울산태양광 발전용량
    }

    # 총 발전용량
    total_capacity = np.sum(list(capacity.values()))

    # 총 발전용량 절대오차
    absolute_error = (sum_answer - sum_submission).abs()

    # 발전용량으로 정규화
    absolute_error /= total_capacity

    # 총 발전용량의 10% 이상 발전한 데이터 인덱스 추출
    target_idx = sum_answer[sum_answer>=total_capacity * 0.1].index

    # NMAE(%)
    nmae = 100 * absolute_error[target_idx].mean()

    return nmae

In [10]:
total_capacity = 500.0

In [11]:
sum_answer = np.sum(actual)
sum_submission = np.sum(predict)

absolute_error = np.abs((sum_answer - sum_submission))

In [12]:
absolute_error /= total_capacity

In [13]:
absolute_error *= 100

In [14]:
absolute_error

12.899824987675764

In [15]:
p = np.array([[[1.6798e-16, 1.7659e-15, 2.2126e-14, 8.3073e-14, 2.3830e-13,
           6.2499e-13, 1.2741e-12, 9.5652e+01, 3.8547e+01, 7.1492e+01],
          [2.0752e-14, 1.0643e-14, 2.9902e-14, 3.2967e-14, 1.1360e-13,
           4.9223e-13, 6.6856e-12, 1.0355e+02, 3.8953e+01, 7.8849e+01],
          [5.6703e-15, 1.2306e-13, 1.3081e-12, 3.2036e-12, 1.1999e-11,
           5.1014e-11, 2.8920e-10, 9.9292e+01, 3.7191e+01, 7.6632e+01],
          [1.1852e-28, 3.8738e-28, 1.2760e-27, 6.9366e-28, 3.2869e-27,
           5.0427e-25, 2.7036e-21, 1.0035e+02, 4.0314e+01, 9.6621e+01],
          [0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
           0.0000e+00, 0.0000e+00, 8.2417e+01, 3.4222e+01, 1.1755e+02],
          [2.4102e-43, 7.6455e-42, 1.4356e-40, 4.7042e-40, 2.5797e-38,
           1.6071e-35, 1.8851e-30, 1.0379e+02, 3.2301e+01, 9.8156e+01],
          [5.3576e-13, 3.1432e-12, 2.1516e-11, 3.8390e-11, 2.2764e-10,
           1.0612e-09, 2.0554e-08, 1.0824e+02, 4.4523e+01, 8.4544e+01],
          [2.1511e-10, 4.1350e-08, 6.7035e-07, 3.7325e-06, 6.3221e-05,
           8.3740e-04, 1.5531e-01, 1.1553e+02, 3.1829e+01, 8.4530e+01],
          [1.2854e+00, 7.9714e+00, 1.6470e+01, 2.3722e+01, 3.2323e+01,
           3.8487e+01, 4.9051e+01, 2.5267e+01, 4.4322e+01, 8.9977e+01],
          [1.8735e+01, 2.8397e+01, 4.2436e+01, 5.7018e+01, 7.4425e+01,
           8.9004e+01, 1.1264e+02, 2.4626e+01, 4.6417e+01, 8.7214e+01],
          [5.7529e+01, 7.1939e+01, 9.4737e+01, 1.2147e+02, 1.5003e+02,
           1.7225e+02, 2.0055e+02, 2.1500e-02, 6.0203e+01, 8.7045e+01],
          [9.2786e+01, 1.2814e+02, 1.6334e+02, 2.0142e+02, 2.3550e+02,
           2.5882e+02, 2.8384e+02, 5.5897e-06, 7.0865e+01, 9.8669e+01],
          [1.1866e+02, 1.5270e+02, 1.8428e+02, 2.1737e+02, 2.4737e+02,
           2.6912e+02, 2.9228e+02, 4.7434e-14, 7.1801e+01, 1.0229e+02],
          [6.4226e+01, 9.8873e+01, 1.2687e+02, 1.5638e+02, 1.8402e+02,
           2.1090e+02, 2.4131e+02, 6.8382e+00, 5.2753e+01, 1.0096e+02],
          [6.2189e+01, 8.8895e+01, 1.0885e+02, 1.3011e+02, 1.5140e+02,
           1.7391e+02, 2.0105e+02, 2.0688e+01, 3.6926e+01, 8.9517e+01],
          [3.3516e+01, 6.0514e+01, 7.6535e+01, 9.4355e+01, 1.1221e+02,
           1.2995e+02, 1.5357e+02, 3.4840e-16, 4.3982e+01, 1.0291e+02],
          [5.4474e+00, 1.3849e+01, 2.0516e+01, 2.7229e+01, 3.4207e+01,
           4.1159e+01, 4.9924e+01, 2.6148e+01, 4.7275e+01, 8.3927e+01],
          [3.8027e-07, 1.4904e-04, 1.1575e-02, 3.8393e-01, 3.0351e+00,
           6.2290e+00, 1.1103e+01, 6.4746e+01, 5.9574e+01, 7.5346e+01],
          [4.5337e-09, 7.9444e-08, 6.9214e-07, 2.7631e-06, 2.3428e-05,
           1.3767e-04, 1.5666e-03, 9.4598e+01, 4.5147e+01, 8.2468e+01],
          [3.0499e-22, 9.1322e-23, 6.9641e-23, 1.2388e-23, 3.8045e-23,
           3.9266e-22, 9.4025e-20, 9.6547e+01, 3.8445e+01, 8.7860e+01],
          [5.3539e-26, 1.7404e-25, 2.1964e-25, 7.2223e-26, 8.3551e-25,
           7.1096e-23, 4.5830e-19, 9.6312e+01, 3.5072e+01, 9.4363e+01],
          [3.6342e-14, 2.4530e-14, 4.0609e-14, 2.5224e-14, 7.3499e-14,
           2.5998e-13, 1.5400e-12, 1.0681e+02, 3.3740e+01, 7.9364e+01],
          [1.3701e-16, 3.3892e-15, 8.3391e-15, 1.4203e-14, 1.3363e-13,
           9.7313e-13, 5.7532e-11, 1.0191e+02, 2.9282e+01, 7.7822e+01],
          [8.9129e-15, 9.3544e-14, 1.6807e-13, 1.9399e-13, 7.0445e-13,
           4.4197e-12, 1.1857e-10, 1.0983e+02, 3.2563e+01, 8.2172e+01]]])
p.shape

(1, 24, 10)

In [33]:
df['time'].iloc[-24:]

25608     2021-01-31 1:00:00
25609     2021-01-31 2:00:00
25610     2021-01-31 3:00:00
25611     2021-01-31 4:00:00
25612     2021-01-31 5:00:00
25613     2021-01-31 6:00:00
25614     2021-01-31 7:00:00
25615     2021-01-31 8:00:00
25616     2021-01-31 9:00:00
25617    2021-01-31 10:00:00
25618    2021-01-31 11:00:00
25619    2021-01-31 12:00:00
25620    2021-01-31 13:00:00
25621    2021-01-31 14:00:00
25622    2021-01-31 15:00:00
25623    2021-01-31 16:00:00
25624    2021-01-31 17:00:00
25625    2021-01-31 18:00:00
25626    2021-01-31 19:00:00
25627    2021-01-31 20:00:00
25628    2021-01-31 21:00:00
25629    2021-01-31 22:00:00
25630    2021-01-31 23:00:00
25631    2021-01-31 24:00:00
Name: time, dtype: object

In [40]:
answer = df[['time', 'ulsan']]

# value = p[0, :, 0]
# predict = pd.DataFrame({
#     'time': df['time'].iloc[-24:],
#     'ulsan': value
# })

for i in range(10):
    value = p[0, :, i]
    predict = pd.DataFrame({
        'time': df['time'].iloc[-24:],
        'ulsan': value
    })
    
    print(sola_nmae(answer, predict))

8.08675
7.002989583333334
6.015729166666667
4.9669791666666665
4.011562499999999
3.262083333333333
2.4434375000000004
10.887102025107291
8.922718750000001
7.81334375

In [38]:
predict

                      time         ulsan
25608   2021-01-31 1:00:00  1.679800e-16
25609   2021-01-31 2:00:00  2.075200e-14
25610   2021-01-31 3:00:00  5.670300e-15
25611   2021-01-31 4:00:00  1.185200e-28
25612   2021-01-31 5:00:00  0.000000e+00
25613   2021-01-31 6:00:00  2.410200e-43
25614   2021-01-31 7:00:00  5.357600e-13
25615   2021-01-31 8:00:00  2.151100e-10
25616   2021-01-31 9:00:00  1.285400e+00
25617  2021-01-31 10:00:00  1.873500e+01
25618  2021-01-31 11:00:00  5.752900e+01
25619  2021-01-31 12:00:00  9.278600e+01
25620  2021-01-31 13:00:00  1.186600e+02
25621  2021-01-31 14:00:00  6.422600e+01
25622  2021-01-31 15:00:00  6.218900e+01
25623  2021-01-31 16:00:00  3.351600e+01
25624  2021-01-31 17:00:00  5.447400e+00
25625  2021-01-31 18:00:00  3.802700e-07
25626  2021-01-31 19:00:00  4.533700e-09
25627  2021-01-31 20:00:00  3.049900e-22
25628  2021-01-31 21:00:00  5.353900e-26
25629  2021-01-31 22:00:00  3.634200e-14
25630  2021-01-31 23:00:00  1.370100e-16
25631  2021-01-31 24:00:00  8.912900e-15

In [39]:
sola_nmae(answer, predict)

8.08675