In [2]:
from config import folder
import pandas as pd
import numpy as np

pd.set_option('max_rows', 15)
pd.set_option('max_columns', 15)

path_fcst = folder.get_dataset_path('ulsan_fcst_data.csv')
path_obs = folder.get_dataset_path('ulsan_obs_data.csv')
path_energy = folder.get_dataset_path('energy.csv')

df_fcst = pd.read_csv(path_fcst)
df_obs = pd.read_csv(path_obs)
df_energy = pd.read_csv(path_energy)

In [10]:
df_fcst.iloc[[0, -1]]

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 11:00:00,4.0,8.0,20.0,14.0,298.0,2.0
162207,2021-03-01 08:00:00,64.0,4.0,80.0,0.7,188.0,3.0

In [11]:
df_obs.iloc[[0, -1]]

        지점 지점명                일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)
0      152  울산  2018-03-01 00:00     8.2      3.9     340.0   98.0       10.0
25631  152  울산  2021-01-31 23:00     9.3      3.1     200.0   56.0        9.0

In [12]:
df_energy.iloc[[0, -1]]

,time,dangjin_floating,dangjin_warehouse,dangjin,ulsan
0,2018-03-01 1:00:00,0.0,0.0,0,0
25631,2021-01-31 24:00:00,0.0,0.0,0,0

In [39]:
df_fcst1 = pd.DataFrame(columns=[['time', 'forecast', 'forecast', 'forecast', 'forecast', 'forecast'], ['time', 'temperature', 'humidity', 'wind_speed', 'wind_direction', 'cloud']])
df_obs1 = df_obs.copy()
df_energy1 = df_energy.copy()
# multi column 쓰면 어떨까?

In [38]:
def convert2400(time_str):
    if "24:00:00" in time_str:
        tmp = time_str.replace("24:00:00", "00:00:00")
        tmp = pd.to_datetime(tmp)
        tmp = tmp + pd.Timedelta(days=1)
    else:
        tmp = pd.to_datetime(time_str)
    
    return tmp

a = df_energy['time']

df_energy1['time'] = df_energy1['time'].apply(convert2400)
df_obs1['time'] = pd.to_datetime(df_obs1['일시'])

In [35]:
# time base
delta = pd.to_timedelta(np.arange(len(df_obs)), unit='h')
time_start = pd.to_datetime(df_obs.loc[0, '일시'])

time_base = time_start + delta
# print(time_base)

time_base = pd.DataFrame(time_base, columns=['time'])
time_base_str = time_base.astype('str')
time_base

                     time
0     2018-03-01 00:00:00
1     2018-03-01 01:00:00
2     2018-03-01 02:00:00
3     2018-03-01 03:00:00
4     2018-03-01 04:00:00
...                   ...
25627 2021-01-31 19:00:00
25628 2021-01-31 20:00:00
25629 2021-01-31 21:00:00
25630 2021-01-31 22:00:00
25631 2021-01-31 23:00:00

[25632 rows x 1 columns]

In [40]:
df_fcst1

Empty DataFrame
Columns: [(time, time), (forecast, temperature), (forecast, humidity), (forecast, wind_speed), (forecast, wind_direction), (forecast, cloud)]
Index: []

In [43]:
df_fcst1.loc[len(df_fcst1)] = [1, 2, 3, 4, 5, 6]
df_fcst1

  time    forecast
  time temperature humidity wind_speed wind_direction cloud
0    1           2        3          4              5     6
1    1           2        3          4              5     6

In [48]:
df_fcst1['forecast'][['temperature']]

  temperature
0           2
1           2